#source
{
}

.btn
{
    width: 70px;
}

#tabs
{
    margin: 0.5em 0 0 0;
    overflow: auto;
}

.icons
{
    float: left;
    width: 32px;
    height: 32px;
    border: 1px solid #dedede;
    margin: 2px;
    display: block;
    cursor: pointer;
}

.icons.active
{
    border: 1px solid #ff0000;
}

.icons span
{
    display: block;
    line-height: 32px;
    margin: 0 auto;
}

html,body{
     height:100%;
}

#wrap{
     width: 100%;
     position: relative;
     min-height: 100%;
}

#main
{

    padding-bottom: 50px;
}

#footer
{
    height: 30px;
    position: fixed;
    bottom: 0;
    left: -5px;
    padding: 10px 10px 5px 5px;
    width: 100%;
    background-color: #555555;
    text-align: right;
}

#footer input
{
    margin: 0;
    margin-right: 10px;
}



