$mobile-break-point: 479px;

.gmoadsmaster
{
    ul
    {
        list-style-type: none;
        margin: 8px 0;
        padding: 0;
        .widget
        {
            margin: 0.5em 0;
        }
    }
}

